# Access Transformers for LILOS CLIENT
public net.minecraft.client.Minecraft field_71428_T # timer
public net.minecraft.client.entity.player.ClientPlayerEntity field_71152_ap # speedInAir
public-f net.minecraft.client.gui.screen.PauseScreen field_195301_f # showPauseMenu
