# Access Transformers for LILOS CLIENT
public net.minecraft.client.Minecraft field_71428_T # timer
public net.minecraft.client.entity.player.ClientPlayerEntity field_71152_ap # speedInAir
public net.minecraft.client.gui.screen.PauseScreen field_195301_f # showPauseMenu
public net.minecraft.entity.player.PlayerEntity field_71075_bZ # capabilities
public net.minecraft.client.settings.KeyBinding field_74513_e # keyMap
